body {
	background-color: #d3d3d3;
	text-align: center;
	background-image: url(restaurant.png);
}

h1, h2 {
	font-family: "Futura", "Helvetica", "sans serif";
	font-weight: bold;
}

h1 {
	padding: 10px 10px 20px 10px;
}

ul {
	list-style: none;
	list-style-type: none;
	padding: 0;
	font-family: "Garamond", "Times New Roman", "serif";
}

li {
	font-size: 2em;
}

p {
	font-family: "Garamond", "Times New Roman", "serif";
	font-size: 2.5em;
	font-weight: bold;
}

form {
	margin: 0 auto;
	width: 30%;
	border: 2px solid black;
}

input {
	display: block;
	margin: 10px auto;
}

@media (max-width: 900px) {
	form {
		width: 50%;
	}
}

@media (max-width: 600px) {
	form {
		width: 75%;
	}

	li {
		font-size: 1.5em;
	}

	p {
		font-size: 2em;
	}
}